.about
  .about-text
    width: 960px
    margin: 50px 0 50px
  .about-poem
    width: 960px
    margin-top: 32px
  .about-chiefs
    margin-top: 154px
    margin-bottom: 154px
    display: flex
    justify-content: space-between
  .about-chief
    display: block
    text-align: center
    border: none
    >img
      width: 270px
      margin-bottom: 15px
  .about-chief-title
    font-weight: bold
    margin-bottom: 2px
  .about-chief-name-ja
    font-size: 25px
    margin-bottom: -3px
  .about-chief-name-en
    font-size: 13px
  .about-partner-title
    text-align: center
    font-size: 32px
    display: block
    height: 23px
    margin: 0 auto 40px
  .about-partners
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    >div
      width: 440px
      margin-bottom: 52px
      a
        border: none
        background-image: none
      img
        width: 440px
        margin: 28px 0
