.statement
    width: 960px
    margin: auto
    margin-top: -50px
    text-align: center
    // opacity: 80%
    img
        display: block
    #showreel
        background-color: #000
        width: 1280px
        height: 720px
        margin-left: -160px
        margin-bottom: 96px
        position: relative
        cursor: pointer
        img
            position: absolute
            width: 1280px
            height: 720px
            top: 0
            left: 0
    img#makewe
        display: block
        width: 100%
        margin-bottom: 30px
    #about
        text-align: right
        a
            font-size: 18px
            font-weight: bold
    #vline
        border-left: 2px solid black
        height: 110px
        width: 0px
        margin: 0 auto 0 auto
    #featured-work
        margin-top: 56px
        >img
            margin: auto
            margin-bottom: 60px
        .items
            display: flex
            justify-content: space-between
            .work
                width: 300px
                height: 320px
                background-color: #eee
                background-size: cover
                background-position: center
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                color: white
                font-size: 19px
                font-weight: bold
                cursor: pointer
                .title
                    min-height: 72px
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 14px 0
                    user-select: none
        #allwork
            text-align: right
            margin-top: 30px
            a
                font-size: 18px
                font-weight: bold
    #news
        margin-top: 113px
        >img
            margin: auto
            margin-bottom: 54px
        .items
            .news
                text-align: left
                margin-bottom: 20px
                padding-left: 221px
                height: 86px
                background-size: contain
                background-repeat: no-repeat
                background-position: left
                display: flex
                flex-direction: column
                justify-content: flex-end
                cursor: pointer
                .date
                    font: normal 300 15px acumin-pro, sans-serif
                    margin-bottom: 2px
                .title
                    font-size: 18px
                    font-weight: bold
        #allnews
            text-align: right
            margin-top: 30px
            a
                font-size: 18px
                font-weight: bold
    #showreel-overlay
        display: flex
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.9)
        align-items: center
        justify-content: center
        z-index: 3000
        button
            margin: 0
            padding: 0
            background-color: transparent
            border: none
            position: absolute
            top: 20px
            left: 20px
            transform: scale(0.5, 0.5)
            transform-origin: top left            
            cursor: pointer
